/**********************************
 Bearweb_6 style sheet - Modules style
 Responseable design
 Small window (smart phone)	-- 320px - 767px
 Middle window (netbook)	-- 768px - 1023px
 Large window (desktop)		-- 1024px ~
 **********************************/

/** Information text: smaller font, light color (somehow transparent) **/
.info {
	font-size: 85%;
	opacity: 0.75;
}

/** Multilingual alternative link **/
.langlink:before {
	content: '🌍';
}
.langlink:after {
	content: '  ';
}

/** Image is clickable **/
.clickimage {
	cursor: zoom-in;
	width: 70%;
	margin: 5px 15%;
}

/** Image block style: wide **/
.wideimage {
	width: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
	object-fit: cover;
	object-position: center center;
}

/** Module: Picture left, text right **/
.pltr>*:first-child {
	display: block;
	padding: 5px 0 10px;
	max-width: 100%;
	margin: auto;
}
.pltr>*:last-child {
	display: block;
	padding: 0 0 10px;
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.pltr::after {
		clear: both;
		content: '';
		display: table;
	}
	.pltr>*:first-child {
		box-sizing: border-box;
		float: left;
		padding: 15px;
		max-width: 28%;
	}
	.pltr>*:last-child {
		box-sizing: border-box;
		float: right;
		padding: 15px;
		width: 70%;
	}
	.pltr>*:last-child>*:first-child {
		margin-top: 0;
	}
}
a.pltr:hover {
	background-color: #DDDDDD !important;
}

/** Module: Menu style: A picture block, normally dark grey, change to color picture on hover **/
.menu {
	min-height: 150px;
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(0.95) contrast(0.8) brightness(0.6);
	transition: filter 0.2s;
}
.menu>img {
	width: 150px;
	display: inline-block;
	padding-right: 20px;
}
.menu>div {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}
.menu>div>* {
	color: #FFFFFF !important;
}
.menu:hover {
	cursor: pointer;
	filter: grayscale(0) contrast(1.1) brightness(1.2);
}
@media (max-width: 767px) {
	.menu {
		background-image: none !important;
		background-color: #2063AA !important;
		min-height: 0;
		margin: 5px 0;
		text-align: center;
		filter: none;
	}
	.menu:hover {
		filter: none;
	}
	.menu>div {
		width: 100%;
		float: none;
	}
	.menu>img {
		display: none;
	}
}

/** Module: form style **/
.bearform label{
	display: block;
	width: calc(100% - 20px);
	padding: 8px 5px;
	margin: 5px;
	font-size: 18px;
}
.bearform label::before {
	content: '§ ';
}
.bearform input {
	display: block;
	width: calc(100% - 20px);
	padding: 8px 5px;
	margin: 5px;
	font-size: 16px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	border-bottom: solid #888888 2px;
}
.bearform input[type=checkbox] {
	display: inline;
	width: auto;
}
.bearform select {
	display: block;
	width: calc(100% - 20px);
	padding: 8px 5px;
	margin: 5px;
	font-size: 16px;
}
.bearform textarea {
	min-width: calc(100% - 20px);
	max-width: calc(100% - 20px);
	min-height: 200px;
	padding: 8px 5px;
	margin: 5px;
	font-size: 16px;
}
.bearform button {
	display: block;
	width: calc(100% - 20px);
	text-align: center;
	padding: 10px 5px;
	margin: 5px;
	font-size: 16px;
}

/** Module: Results (Content / content home page) **/
.content_description {
	
}
.content_keywords a{
	padding: 0 8px 0 3px;
	margin-right: 10px;
	transition: 0.2s;
}
.content_keywords a:hover{
	transition: 0.5s;
}
.content_keywords a:before {
	content: '▥  ';
}
.content_keywords a:hover {
	padding: 0 3px 0 8px;
	margin-right: 10px;
}
.content_author:before {
	content: '✒  ';
}
.content_lastmodify:before {
	content: '⏱  ';
}

.resultlabels {
	text-align: center;
}
.resultlabels * {
	text-align: center;
	margin: 0 10px;
}
@media (max-width: 767px) {
	 .resultlabels * {
		display: block;
	}
}
